@layer base {
  .dark {
    --shiki-color-text: theme('colors.white');
    --shiki-token-constant: theme('colors.emerald.300');
    --shiki-token-string: theme('colors.emerald.300');
    --shiki-token-comment: theme('colors.zinc.500');
    --shiki-token-keyword: theme('colors.sky.300');
    --shiki-token-parameter: theme('colors.pink.300');
    --shiki-token-function: theme('colors.violet.300');
    --shiki-token-string-expression: theme('colors.emerald.300');
    --shiki-token-punctuation: theme('colors.zinc.500');
  }

  .light {
    --shiki-color-text: theme('colors.zinc.700');
    --shiki-token-constant: theme('colors.green.600');
    --shiki-token-string: theme('colors.green.600');
    --shiki-token-comment: theme('colors.zinc.500');
    --shiki-token-keyword: theme('colors.blue.500');
    --shiki-token-parameter: theme('colors.pink.500');
    --shiki-token-function: theme('colors.violet.500');
    --shiki-token-string-expression: theme('colors.green.600');
    --shiki-token-punctuation: theme('colors.zinc.500');
  }

  [inert] ::-webkit-scrollbar {
    display: none;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
