@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply bg-white dark:bg-black text-black dark:text-white;
  }
}

@layer utilities {
  .bg-default {
    @apply bg-white dark:bg-black;
  }
}

mark {
  background-color: rgb(219, 234, 254);
  color: rgb(29, 78, 216);
  border-radius: 0.25rem;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 2px;
  position: relative;
  top: -2px
}

.heading-link {
  font-size: 80%;
  margin-left: 0.4rem;
  color: #757575;
  text-decoration: none;
}

.url-link {
  font-size: 80%;
  margin-left: 0.4rem;
  color: #757575;
  text-decoration: none;
  display: inline-block;
}

.dev-subscription {
  font-size: 90%;
  color: #757575;
}

.dev-subscription-footer {
  font-size: 90%;
  color: #757575;
  margin: 0 auto;
  text-align: center;
}

.dev-subscription-bar {
  border: 0;
  height: 2px;
  background: #333;
  margin: 20px 0;
}

.email-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 50%;
  font-size: 90%;
  margin-right: 10px;
  transition: all 0.3s ease;
}

.email-input-footer {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 20%;
  font-size: 90%;
  margin: 8px 10px 16px 0;
  transition: all 0.3s ease;
}

.email-input:focus {
  border-color: #007BFF;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.subscribe-button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.subscribe-button:hover {
  background-color: #1c4ed8;
}

.todo {
  position: relative;
  border-radius: 0.5rem;
  background: rgb(243 244 246);
  color: #555;
  font-size: 0.9rem;
  padding: 2.1em 1rem 1.0rem;
  margin-bottom: 2rem;
  line-height: 1.25;
}
.todo:before {
  content: 'TODO';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background: rgb(31, 41, 55);
  color: #fff;
  padding: 0.2rem 1rem;
  font-size: 0.65rem;
  font-weight: bold;
}

.labeled-box {
  position: relative;
  border-radius: 0.5rem;
  background: rgb(243 244 246);
  color: #555;
  font-size: 1rem;
  padding: 2.1em 1rem 1.0rem;
  margin-bottom: 2rem;
  line-height: 1.25;
}
.labeled-box:before {
  content: attr(data-label);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background: rgb(31, 41, 55);
  color: #fff;
  padding: 0.2rem 1rem;
  font-size: 0.65rem;
  font-weight: bold;
}


pre code.hljs{display:block;overflow-x:auto}code.hljs{padding:3px 5px}.hljs{color:#abb2bf}.hljs-comment,.hljs-quote{color:#5c6370;font-style:italic}.hljs-doctag,.hljs-formula,.hljs-keyword{color:#c678dd}.hljs-deletion,.hljs-name,.hljs-section,.hljs-selector-tag,.hljs-subst{color:#e06c75}.hljs-literal{color:#56b6c2}.hljs-addition,.hljs-attribute,.hljs-meta .hljs-string,.hljs-regexp,.hljs-string{color:#98c379}.hljs-attr,.hljs-number,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-pseudo,.hljs-template-variable,.hljs-type,.hljs-variable{color:#d19a66}.hljs-bullet,.hljs-link,.hljs-meta,.hljs-selector-id,.hljs-symbol,.hljs-title{color:#61aeee}.hljs-built_in,.hljs-class .hljs-title,.hljs-title.class_{color:#e6c07b}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:700}.hljs-link{text-decoration:underline}

code {
  word-break: break-all;
}

/*
 * Admonitions based roughly on https://github.com/elviswolcott/remark-admonitions
 *
 * Icons from Radix https://icons.radix-ui.com/
 *
 * Compressed with SVGOMG https://jakearchibald.github.io/svgomg/
 *
 * Encoded with https://yoksel.github.io/url-encoder/
 *
 * Color palette based on our blue https://coolors.co/palette/0060df-3fe1b0-ffea80-ff6a75
 * Slightly modified red https://coolors.co/fc5560
 */
.admonition {
  position: relative;
  border-radius: .375rem;
  padding: 1.25rem;
  padding-right: 3rem;
  margin: 1.5rem 0;

  p:first-child,
  h1:first-child,
  h2:first-child,
  h3:first-child,
  h4:first-child,
  h5:first-child,
  h6:first-child,
  pre,
  ul, ol, li {
    margin-top: 0;
  }

  p:last-child,
  h1:last-child,
  h2:last-child,
  h3:last-child,
  h4:last-child,
  h5:last-child,
  h6:last-child,
  pre,
  ul, ol, li {
    margin-bottom: 0;
  }

  li::marker {
    color: inherit;
  }

  &--note {
    background-color: #eceef1;

    &::after {
      /* Circle with an i inside it */
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 15 15'%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M7.5.877a6.623 6.623 0 1 0 0 13.246A6.623 6.623 0 0 0 7.5.877ZM1.827 7.5a5.673 5.673 0 1 1 11.346 0 5.673 5.673 0 0 1-11.346 0Zm6.423-3a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM6 6h1.5a.5.5 0 0 1 .5.5V10h1v1H6v-1h1V7H6V6Z' clip-rule='evenodd'/%3E%3C/svg%3E ");
      position: absolute;
      top: 1.2rem;
      right: 1rem;
      width: 18px;
    }
  }
  &--tip {
    background-color: #3fe1b0;

    &::after {
      /* Lightning bolt */
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 15 15'%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M8.697.04a.5.5 0 0 1 .296.542L8.09 6h4.41a.5.5 0 0 1 .4.8l-6 8a.5.5 0 0 1-.893-.382L6.91 9H2.5a.5.5 0 0 1-.4-.8l6-8a.5.5 0 0 1 .597-.16ZM3.5 8h4a.5.5 0 0 1 .493.582L7.33 12.56 11.5 7h-4a.5.5 0 0 1-.493-.582L7.67 2.44 3.5 8Z' clip-rule='evenodd'/%3E%3C/svg%3E ");
      position: absolute;
      top: 1.2rem;
      right: 1rem;
      width: 18px;
    }
  }
  &--warn {
    background-color: #ffea80;

    &::after {
      /* Warning triangle */
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 15 15'%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M8.445.609a1.1 1.1 0 0 0-1.89 0L.161 11.337A1.1 1.1 0 0 0 1.106 13h12.788a1.1 1.1 0 0 0 .945-1.663L8.445.609Zm-1.03.512a.1.1 0 0 1 .17 0l6.395 10.728a.1.1 0 0 1-.086.151H1.106a.1.1 0 0 1-.086-.151L7.414 1.12Zm-.588 3.365a.674.674 0 1 1 1.346 0L8.02 8.487a.52.52 0 0 1-1.038 0l-.154-4Zm1.423 5.99a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z' clip-rule='evenodd'/%3E%3C/svg%3E ");
      position: absolute;
      top: 1.2rem;
      right: 1rem;
      width: 18px;
    }
  }
  &--danger {
    background-color: #FC5560;

    &::after {
      /* Circle with an X inside it */
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 15 15'%3E%3Cpath fill='white' fill-rule='evenodd' d='M.877 7.5a6.623 6.623 0 1 1 13.246 0 6.623 6.623 0 0 1-13.246 0ZM7.5 1.827a5.673 5.673 0 1 0 0 11.346 5.673 5.673 0 0 0 0-11.346Zm2.354 3.32a.5.5 0 0 1 0 .707L8.207 7.5l1.647 1.646a.5.5 0 0 1-.708.708L7.5 8.207 5.854 9.854a.5.5 0 0 1-.708-.708L6.793 7.5 5.146 5.854a.5.5 0 0 1 .708-.708L7.5 6.793l1.646-1.647a.5.5 0 0 1 .708 0Z' clip-rule='evenodd'/%3E%3C/svg%3E ");
      position: absolute;
      top: 1.2rem;
      right: 1rem;
      width: 18px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    strong,
    em,
    ul,
    ol,
    li,
    blockquote {
      color: white;
    }
  }

}
