@tailwind base;
@tailwind components;
@tailwind utilities;

mark {
  background-color: rgb(219, 234, 254);
  color: rgb(29, 78, 216);
  border-radius: 0.25rem;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 2px;
  position: relative;
  top: -2px
}

.heading-link {
  font-size: 80%;
  margin-left: 0.4rem;
  color: #757575;
  text-decoration: none;
}

.todo {
  position: relative;
  border-radius: 0.5rem;
  background: rgb(243 244 246);
  color: #555;
  font-size: 0.9rem;
  padding: 2.1em 1rem 1.0rem;
  margin-bottom: 2rem;
  line-height: 1.25;
}
.todo:before {
  content: 'TODO';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background: rgb(31, 41, 55);
  color: #fff;
  padding: 0.2rem 1rem;
  font-size: 0.65rem;
  font-weight: bold;
}

.labeled-box {
  position: relative;
  border-radius: 0.5rem;
  background: rgb(243 244 246);
  color: #555;
  font-size: 1rem;
  padding: 2.1em 1rem 1.0rem;
  margin-bottom: 2rem;
  line-height: 1.25;
}
.labeled-box:before {
  content: attr(data-label);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background: rgb(31, 41, 55);
  color: #fff;
  padding: 0.2rem 1rem;
  font-size: 0.65rem;
  font-weight: bold;
}


pre code.hljs{display:block;overflow-x:auto}code.hljs{padding:3px 5px}.hljs{color:#abb2bf}.hljs-comment,.hljs-quote{color:#5c6370;font-style:italic}.hljs-doctag,.hljs-formula,.hljs-keyword{color:#c678dd}.hljs-deletion,.hljs-name,.hljs-section,.hljs-selector-tag,.hljs-subst{color:#e06c75}.hljs-literal{color:#56b6c2}.hljs-addition,.hljs-attribute,.hljs-meta .hljs-string,.hljs-regexp,.hljs-string{color:#98c379}.hljs-attr,.hljs-number,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-pseudo,.hljs-template-variable,.hljs-type,.hljs-variable{color:#d19a66}.hljs-bullet,.hljs-link,.hljs-meta,.hljs-selector-id,.hljs-symbol,.hljs-title{color:#61aeee}.hljs-built_in,.hljs-class .hljs-title,.hljs-title.class_{color:#e6c07b}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:700}.hljs-link{text-decoration:underline}